.formInput {
  display: flex;
  flex-direction: column;
}

Input {
  padding: 18px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid grey;
}

label {
  font-size: 12px;
  color: rgb(180, 185, 185);
}

span {
  font-size: 12px;
  padding: 3px;
  color: rgb(247, 104, 104);
  display: none;
}

input:invalid [focused="true"] ~ span {
  display: block;
}
